/* Navbar styling */
* {
    font-family: "Poppins", sans-serif;

}

.custom-nav {
    background: linear-gradient(45deg, #007bff, #00d4ff);
}

.see-all-btn {
    font-weight: 500;
    border-radius: 10px;
    transition: 0.3s;
}

.see-all-btn:hover {
    transform: scale(1.05);
}


/* Contact Card */
.contact-card {
    width: 450px;
    background: #ffffff;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-left: 6px solid #007bff;
    transition: 0.3s;
}

.contact-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}


/* Inputs */
/* Wrapper */
.floating-group {
    position: relative;
}

/* Input */
.floating-input {
    width: 100%;
    height: 50px;
    padding: 14px 12px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
}

/* Focus border */
.floating-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
}

/* Label */
.floating-label {
    position: absolute;
    left: 14px;
    top: 14px;
    font-size: 16px;
    color: #777;
    background: #fff;
    padding: 0 4px;
    pointer-events: none;
    transition: 0.3s ease;
}

/* Move label up only on focus */
/* Floating Label */
.floating-label {
    position: absolute;
    left: 14px;
    top: 14px;
    font-size: 16px;
    color: #777;
    background: #fff;
    padding: 0 4px;
    pointer-events: none;
    transition: 0.3s ease;
}

/* Move label up on focus OR when input has value */
.floating-input:focus+.floating-label,
.floating-input:not(:placeholder-shown)+.floating-label {
    top: -8px;
    font-size: 12px;
    color: #007bff;
}



/* Add Button */
.add-btn {
    background: linear-gradient(45deg, #28a745, #5cd65c);
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.add-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 12px rgba(40, 167, 69, 0.5);
}