{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login_signup.css' %}">
{% endblock %}

{% block content %}
<div class="cards">
    <div id="signup-form">
        <h3 class="text-center mb-4">Sign Up</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" value="{{ username|default:'' }}" id="signupUsername"
                    name="username" placeholder="Username" required>
                <label for="signupUsername">Username</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="email" class="form-control" id="signupEmail" value="{{ email|default:'' }}" name="email"
                    placeholder="Email" required>
                <label for="signupEmail">Email</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="password" class="form-control" id="signupPassword1" name="password" placeholder="Password"
                    required>
                <label for="signupPassword1">Password</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="password" class="form-control" id="signupPassword2" name="confrimpassword"
                    placeholder="Confirm Password" required>
                <label for="signupPassword2">Confirm Password</label>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
            <div class="text-center">
                <span>Already have an account?
                    <a href="{% url 'login' %}" class="form-switch-link">Login</a></span>
            </div>
        </form>
    </div>
</div>

{% endblock %}